@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EEEEEE;
    color: #06113C;
}

a {
    color: #FF8C32;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li {
    padding: 5px;
}

.container {
    margin: 25px;
    margin-top: 50px;
}

.faded {
    opacity: 50%;
}